/* .App {
  text-align: center;
} */

.header{
font-weight: 500;
font-size: xx-large;
border: 2px solid;
background-color: #8E0625;
color: white;
text-align: center;
}

.form-header{
  margin-left: 12px;
  margin-left: 50px;
}

.add-contact{
  font-size: x-large;
 font-weight: 500;
font-family: fantasy;
margin-top: 10px;

}

.form{
  margin-top: 15px;
  
}
label{
  font-size: 20px;
}
input{
  width: 250px;
  height: 30px;
  margin-top: 20px;
}

.btn{
  border-color: cadetblue;
  color: darkred;
  margin-top: 20px;
  margin-left: 140px;
  width: 100px;
  height: 30px;
}

.contact-header{
  font-size: medium;
font-weight: 500;
font-family: system-ui;
margin-left: 50px;
margin-top: 20px;
}

.contacts{
  display: flex;
justify-content: space-between;
border: 2px solid;
background: #FDEFF2;
margin-bottom: 2px;
margin-left: 50px;
margin-right: 50px;
margin-top: 20px;
align-items: center;
}

/* .email{
  font-size: x-small;
} */